{% extends 'base.html' %}
<!--title tag-->
{% block title %}
<title>Plasma-Home</title>
<style>
    body{
    background:#fff;
    }

    .heading{
        padding-top: 30px;
        text-align: center;
        font-weight: 500;
    }

    .profile-area{
    padding:30px 0;
    }
    .card{
      box-shadow: 0 0 30px rgba(0,0,0,0.1);
      overflow:hidden;
      border-radius:15px;
      margin-top:30px;
    }
    .img1 img{
        height:100px;
        margin-left:auto;
        margin-right:auto;
        /* border-top-right-radius:15px;
        border-top-left-radius:15px; */
        width:100%;
    }
    
    .img2 img{
      margin-left: auto;
        
      text-align: center;
      border-radius: 50%;
      width: 100px;
    }
    .card:hover .img2 img{
        border-color:bg-primary;
        transition:.7s
    }
    .main-text{
        padding: 30px 0;
        text-align:center;
        }
    .main-text h2{
        top:22px;
        text-transform:uppercase;
        font-weight: 900;
        font-size:20px;
        margin: 0 0 10px;
    }
    .main-text p{
        font-size:16px;
        padding: 0 35px;
    }
    .space{
    margin-bottom:20px;
    }
</style>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}">

{% endblock %}

{% block content %}

    <div class="landing">
        <div class="landing-image" data-aos="fade-down" data-aos-duration="2000">
            <img src="../static/img/banner_img.jpg" alt="Banner-image" width="400px" >
        </div>
        <div class="landing-text" data-aos="fade-up" data-aos-duration="1000">
            <h1>Start making a difference in someone's life by <span style="color: #e0501b; font-size: size 6vw;">Donating Plasma</span></h1>
            <h3>Donate Plasma and Save Lives!! Request Plasma and Get Lives!!</h3>
            <div class="btn">
                <a href="{{url_for ('signin')}}" style="text-decoration: none;">Donate Plasma</a>
            </div>
        </div>
        
    </div><br><hr>
    <!--About-->
    <br>
    <h1 style="text-align: center; margin-top: 10px;">Know more about Plasma</h1>
    <div class = "profile-area">
        <div class = "container">
          <div class="row">
            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
                  <div class="img1"><img src="../static/img/color.PNG"></div>
                  
                <div class = "main-text card-body">
                  <h2 class="card-title">What is Plasma?</h2>
                  <p class="card-body">Plasma is the pale yellow liquid part 
                    of whole blood, in which the cellular elements are suspended.  It is enriched in proteins that help fight infection and aid the blood in clotting.  AB plasma is plasma collected from blood group AB donors. It is considered "universal donor" plasma because it is suitable for all recipients, regardless of blood group.</p>
                </div>
              </div>
            </div>
    
    
            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
                <div class="img1"><img src="../static/img/color.png"></div>
                <div class = "main-text card-body">
                  <h2 class="card-title">What is Plasmapheresis?</h2>
                  <p class="card-body">Plasmapheresis is the standard procedure by which plasma is separated from whole blood and collected. Blood flows through a single needle placed in an arm vein, into a machine that contains a sterile, disposable plastic kit. The plasma is isolated and channeled out into a special bag, and red blood cells and other parts of the blood are returned to you through the same needle.</p>
                </div>
              </div>
            </div>
    
    
            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
              <div class="img1"><img src="../static/img/color.png"></div>
                <div class = "main-text card-body">
                  <h2 class="card-title">Is Plasmapheresis Safe?</h2>
                  <p class="card-body">Absolutely. The machine and the procedure have been evaluated and approved by the Food and Drug Administration (FDA), and all plastics and needles coming into contact with you are used once and discarded. At no time during the procedure is the blood being returned to you detached from the needle in your arm, so there is no risk of returning the wrong blood to you.</p>
                </div>
              </div>
            </div>
            

            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
              <div class="img1"><img src="../static/img/color.PNG"></div>
                <div class = "main-text card-body">
                  <h2 class="card-title">How Long Does Plasmapheresis Take?</h2>
                  <p class="card-body">Plasmapheresis procedures take about 40 minutes, but you should allow another 20 minutes for staff to obtain your medical history. Every effort will be made to make the experience relaxing and enjoyable.</p><br><br>
                  <br>
                </div>
              </div>
            </div>
    
    
            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
              <div class="img1"><img src="../static/img/color.png"></div>
                <div class = "main-text card-body">
                  <h2 class="card-title">How Do I Prepare to Donate Plasma?</h2>
                  <p class="card-body">On the day of your plasma donation appointment, make sure that you get some rest and have a healthy breakfast. You should drink lots of fluids, but avoid coffee, tea, and alcohol, as these drinks actually dehydrate you. Opt for water or juice instead. You should not eat anything oily or greasy before donating plasma since this can affect the quality of your plasma.</p>
                </div>
              </div>
            </div>
            <div class = "col-12 col-md-6 col-lg-6">
              <div class = "card">
              <div class="img1"><img src="../static/img/color.png"></div>
                <div class = "main-text card-body">
                  <h2 class="card-title">Does donating plasma hurt?</h2>
                  <p class="card-body">Donating plasma shouldn't hurt. Donating plasma should feel the same as a regular blood donation. You might feel a stinging sensation when the needle is inserted, but after that, the staff will do its best to make sure that you're comfortable throughout the donation process.</p><br>
                  <br>
                </div>
              </div>
            </div>
    <!---end of row--->
          </div>
          </div>
    </div>
{% endblock %}